.header {
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    z-index: 9;
    & .header__topbar {
        background:$black;
        height:1.5rem;
        width:100%;
    }
    & .header__wrapper {
        background:$white;
        width:100%;
        max-width:1350px;
        // min-width:700px;
        margin-left:auto;
        margin-right:auto;
        padding-left:3rem;
        padding-right:3rem;
        clip-path: polygon(0 0, 100% 0, 89% 100%, 11% 100%);
    }
    @include mediaquery("desktop-1100"){
        & .header__wrapper {
            clip-path:unset;
            max-width:100%;
            margin-top: 0;
        }
    }
    @include mediaquery("tablet-767"){
        & .header__wrapper {
            height:60px;
            margin-top: 3.8rem;
            padding-left:1.5rem;
            padding-right:1.5rem;
            position:relative;
            clip-path: none;
            background:transparent;
        }
    }
    @include mediaquery("phone-480"){
        & .header__wrapper {
            margin-top: 2.8vh;
        }
    }
    & .header__menu  {
        margin-left: 0;
        & li {
            display: inline-block;
            list-style-type:none;
            &:nth-child(2) {
                margin-right: 12rem !important;
            }
            &:nth-child(3) {
                margin-left: 12rem !important;
            }
            @include mediaquery("desktop-1100"){
                &:nth-child(2) {
                    margin-right: 10rem !important;
                }
                &:nth-child(3) {
                    margin-left: 7rem !important;
                }
            }
            @include mediaquery("tablet-992"){
                &:nth-child(2) {
                    margin-right: 14rem !important;
                }
                &:nth-child(3) {
                    margin-left: 7rem !important;
                }
            }
            @include mediaquery("tablet-767"){
                &:nth-child(2) {
                    margin-right: 0rem !important;
                }
                &:nth-child(3) {
                    margin-left: 0rem !important;
                }
            }
        }
        & .desktop__menu a {
            display: inline-block;
            @include mediaquery("phone-480"){
                display: none;
            }
        }
        & li a {
            display: inline-block;
            font-size: 1.5rem;
            padding: 4rem 0rem;
            margin:0 3rem;
            font-weight:600;
            color:$dark-grey;
            opacity:0.7;
            border-bottom: 5px solid transparent;
            transition: all 0.15s ease-in;
            text-decoration:none;
            @include mediaquery("desktop-1100"){
                font-size: 1.3rem;
                line-height: 1.45rem;
            }
            @include mediaquery("tablet-992"){
                margin:0 1rem;
                font-size: 1.35rem;
                line-height: 1.45rem;
            }
            @include mediaquery("tablet-767"){
                padding: 0rem;
                color:$white;
                font-size: 1.28rem;
                line-height: 1.38rem;
            }
            @include mediaquery("phone-480"){
                margin:0 0.3rem;
                font-size: 1.15rem;
                line-height: 1.25rem;
            }
            &:hover {
                border-bottom: 5px solid $green;
                text-decoration:none;
                opacity:1;
            }
            @include mediaquery("phone-480"){
                &:hover {
                    border-bottom: 3px solid $green;
                    text-decoration:none;
                    opacity:1;
                }
            }
        }
    }

    & .header__logo {
        width: 16.8rem;
        @include absCenter();
        top: 7.2rem;
        @include mediaquery("tablet-767") {
            top: 8.3rem;
        }
        z-index:9999;
        & .header__logoimg {
            width: 100%;
        }
    }
    @include mediaquery("tablet-767"){
        & .header__logo {
            position:relative !important;
        }
    }
    & .header__logo-toggle {
        width: 12.1rem !important;
        position: fixed;
        top: 5.3rem;
    }
    @include mediaquery("phone-480"){
        & .header__logo {
            width: 11rem;
            top: 5.9vh;
        }
        & .header__logoimg {
            height: 9vh;
        }
    }
}
.main-nav-toggle {
    width: 100% !important;
    max-width: 100% !important;
    position: fixed;
    border-top: 10px solid black;
    clip-path: none !important;
    top:0;
    background:$pale-grey !important;
    //box-shadow: 0px 0px 18px rgb(0 0 0 / 30%);
    height: 95px;
    & ul li a {
        padding: 2.7rem 0rem !important;
        color: #46464c !important;
    }
}